@model QL_THUCUNG.Models.ThanhVien

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Chi tiết</h2>

<div style="margin:10px">
    <dl class="dl-horizontal">
        <dt>
            Tên thành viên
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenThanhVien)
        </dd>

        <dt>
            Tên đăng nhập
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenDN)
        </dd>

        <dt>
            Mật khẩu
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Matkhau)
        </dd>

        <dt>
            Số điện thoại
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SDT)
        </dd>

    </dl>
</div>
<p>
    <a href="@Url.Action("Edit", "ThanhViens", new { id = Model.ID_ThanhVien })" class="btn btn-success m-2">Sửa</a>
    <a href="@Url.Action("Index", "ThanhViens")" class="btn btn-primary m-2">Quay lại</a>
</p>
