@model QL_THUCUNG.Models.CTTTDV

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>CTTTDV</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Soluong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Soluong)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DichVu.TenDV)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DichVu.TenDV)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ThanhToanDV.ID_ThanhVien)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThanhToanDV.ID_ThanhVien)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
